@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  body {
    @apply bg-primary-50 text-primary-950 dark:text-primary-50;
  }
  section {
    @apply pt-10 px-4 bg-primary-50 dark:bg-primary-950;
  }
  p,
  span {
    @apply text-sm md:text-lg text-primary-950 dark:text-primary-50;
  }
  h1 {
    @apply text-2xl font-roboto font-semibold text-primary-950 dark:text-primary-50 lg:text-5xl tracking-tighter;
  }
  h2 {
    @apply text-2xl font-roboto font-semibold text-primary-950 dark:text-primary-50 lg:text-4xl;
  }
  h3 {
    @apply text-xl font-roboto font-semibold text-primary-600 dark:text-primary-400 lg:text-3xl;
  }
}
/*CSS components*/

@layer components {
  /*Button*/
  .btn-hover {
    @apply inline-flex items-center justify-center p-3 mr-3 font-medium text-center rounded-lg bg-primary-400 dark:bg-primary-600 hover:bg-primary-300 focus:ring-4 focus:ring-primary-100 dark:text-primary-50;
  }
  .btn-transparent {
    @apply inline-flex items-center justify-center p-3 mr-3 font-medium text-center rounded-lg text-primary-900 border border-primary-300  hover:bg-primary-400 focus:ring-4 focus:ring-primary-100 dark:text-primary-50 dark:border-primary-700 dark:hover:bg-primary-600 dark:focus:ring-primary-800;
  }
  .btn-contact {
    @apply w-full px-5 py-3 mt-4 text-base font-medium text-center text-primary-50 cursor-pointer capitalize bg-primary-600 rounded hover:bg-primary-600 focus:outline-none focus:ring focus:ring-primary-300 focus:ring-opacity-50;
  }
  .btn-icon {
    @apply w-5 h-5 ml-2 -mr-1;
  }
  .icon-color {
    @apply inline-flex justify-center items-center mx-1.5 dark:hover:text-primary-800 text-primary-400 transition-colors duration-300 transform dark:text-primary-50 hover:text-primary-500;
  }
  /* Card */
  .card-wrapper {
    @apply max-w-sm flex flex-col justify-between bg-primary-50 border border-primary-200 rounded-lg shadow dark:bg-primary-600 dark:border-primary-900 w-full h-full;
  }
  .card-image {
    @apply rounded-t-lg;
  }
  .card-title {
    @apply text-2xl font-semibold underline text-primary-950 dark:text-primary-50;
  }
  .card-subtitle {
    @apply mt-1 text-base  text-primary-950 dark:text-primary-50;
  }
  .card-description {
    @apply -mt-8 text-center font-normal text-primary-950 dark:text-primary-50;
  }
  .card-btn-container {
    @apply flex justify-center items-center py-3;
  }
  /*Card Intro*/
  .card-intro {
    @apply flex flex-col items-center max-w-sm text-center bg-primary-200 border border-primary-300 rounded-lg shadow dark:bg-primary-900 dark:bg-opacity-20 dark:border-primary-950 w-full h-full p-4;
  }
  .card-icon {
    @apply text-2xl my-3 text-primary-500 dark:text-primary-400;
  }
  /*Footer*/
  .footer {
    @apply mt-auto w-full py-10 px-4 sm:px-6 lg:px-8 mx-auto bg-primary-100 dark:bg-primary-600;
  }
  .footer-link {
    @apply flex-none text-xl font-semibold text-primary-950 dark:text-primary-50;
  }
  .footer-email {
    @apply text-primary-950 mb-4 dark:text-primary-50;
  }
  .footer-copyright {
    @apply text-sm text-center text-primary-950 dark:text-primary-50;
  }
  /*Form*/
  .form-label {
    @apply block mb-2 text-sm;
  }
  .form-input {
    @apply block w-full px-5 py-3 mt-2 bg-white border border-primary-200 rounded-md dark:placeholder-primary-50 dark:bg-primary-500 dark:text-primary-50 dark:border-primary-400 focus:border-primary-400 dark:focus:border-primary-50 focus:ring-primary-50 focus:outline-none focus:ring-opacity-40;
  }
  .form-textarea {
    @apply block w-full h-32 px-5 py-3 mt-2 bg-white border border-gray-200 rounded-md dark:placeholder-primary-50 dark:bg-primary-500 dark:text-primary-50 dark:border-primary-400 focus:border-primary-400 dark:focus:border-primary-50 focus:ring-primary-50 focus:outline-none focus:ring focus:ring-opacity-40;
  }
  .form-submit {
    @apply btn-contact;
  }
  /*Navbar*/
  .navbar {
    @apply bg-primary-100 border-gray-200 dark:bg-primary-600 shadow fixed top-0 w-full z-50 lg:flex lg:justify-around;
  }
  .navbar-brand {
    @apply text-xl font-semibold;
  }
  .navbar-button {
    @apply flex items-center px-3 py-2 rounded text-primary-950 hover:text-primary-700 dark:text-white;
  }
  .navbar-links {
    @apply text-center lg:text-left text-sm lg:flex-grow lg:flex lg:justify-center dark:text-primary-50;
  }
  .navbar-link {
    @apply block mt-4 lg:inline-block lg:mt-0 text-primary-950 dark:text-primary-50 lg:mr-4;
  }
  .navbar-toggle {
    @apply w-full lg:flex lg:items-center lg:w-auto;
  }
  /*Notification*/
  .notification-container{
    @apply p-4 rounded flex justify-between
  }
  .notification-success{
    @apply bg-green-100 border border-green-500 text-green-700 px-4 py-3 rounded relative
  }
  .notification-error{
    @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative
  }
  /*Progress Circle*/
  .progress-circle-container {
    @apply flex items-center;
  }
  .progress-circle {
    @apply relative w-32 h-32;
  }
  .progress-circle-svg {
    @apply absolute w-full h-full;
  }
  .progress-circle-bg {
    @apply text-primary-100;
  }
  .progress-circle-fg {
    @apply text-primary-800 dark:text-primary-600;
  }
  .progress-circle-text {
    @apply ml-2 text-lg font-medium text-primary-950 dark:text-primary-50;
  }
  /*Tag*/
  .tag {
    @apply inline-flex items-center mt-5 mr-3 rounded-md bg-primary-400 px-3 py-3 text-xs font-medium text-primary-950 ring-1 ring-inset ring-primary-500/10 dark:bg-primary-600 dark:text-primary-50;
  }
  /*Pages CSS*/
  /*About Page*/
  .about-container {
    @apply grid grid-cols-1 gap-5 items-center max-w-screen-xl px-6 mx-auto lg:grid-cols-2 md:px-12 w-full;
  }
  .about-img {
    @apply w-96 h-auto rounded-lg mx-auto md:max-h-full;
  }
  .about-text {
    @apply my-4;
  }
  .about-box-grid {
    @apply grid grid-cols-1 md:grid-cols-3 gap-2 mb-8;
  }
  /*Contact Page*/
  .contact-container {
    @apply container p-10 mx-auto;
  }
  .contact-img {
    @apply hidden object-cover mx-auto rounded-full lg:block shrink-0 w-80 h-80;
  }
  .contact-block-info {
    @apply flex flex-col justify-center items-center mt-6 space-y-8 md:mt-8;
  }
  .contact-text {
    @apply flex items-start -mx-2;
  }
  .contact-icon {
    @apply w-6 h-6 mx-2 text-primary-600 dark:text-primary-400;
  }
  .contact-social {
    @apply flex flex-col justify-center lg:flex lg:flex-col items-center mt-6 md:mt-8;
  }
  /*Error Page*/
  /*Home Page*/
  /* Portfolio */
  .portfolio-title {
    @apply text-2xl font-semibold leading-10 text-primary-800 lg:text-3xl dark:text-primary-50;
  }
  .portfolio-container {
    @apply container px-6 py-12 mx-auto;
  }
  .portfolio-grid {
    @apply mt-8 xl:mt-16 lg:flex;
  }
  .portfolio-item {
    @apply grid grid-cols-1 gap-28 md:grid-cols-2 xl:grid-cols-3;
  }
  /*Project Page*/
  .project-container {
    @apply relative isolate overflow-hidden px-6 py-24 lg:overflow-visible;
  }
  .project-grid {
    @apply mx-auto grid max-w-2xl grid-cols-1 gap-x-8  lg:max-w-none lg:grid-cols-2 lg:items-start;
  }
  .project-block-text {
    @apply lg:col-span-2 lg:col-start-1;
  }
  /*Section CSS*/
  /*CTA Section*/
  .cta-container {
    @apply container items-center py-8 mx-auto text-center;
  }
  .cta-btn {
    @apply flex mt-6 justify-center items-center;
  }
  /*Hero Section*/
  .hero-container {
    @apply text-center;
  }
  .hero-img {
    @apply w-96 h-96 mx-auto sm:w-10/12 my-4;
  }
  .hero-span{
    @apply text-2xl lg:text-5xl text-primary-600 dark:text-primary-400
  }
  /*Intro Section*/
  .intro-container {
    @apply container mx-auto flex px-5 py-24 md:flex-row flex-col items-center;
  }
  .intro-block-img {
    @apply lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0;
  }
  .intro-img {
    @apply object-cover object-center rounded;
  }
  .intro-block-text {
    @apply lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col items-center text-center;
  }
  /*Skills Section*/
  .skills-display {
    @apply flex justify-center;
  }
  .skills-grid {
    @apply md:grid md:grid-cols-2 lg:grid-cols-3 gap-3;
  }

  
}
